@page "/"

<UiSegment Build="@BuildTitleSegment">
    <h3>This is a segment</h3>
    <hr/>
    <p>
        Welcome to the world of doing things.
    </p>
</UiSegment>

<UiToast @ref=_toastRef></UiToast>

@code
{
    private UiSegment _anotherSegment;

    public async Task BuildTitleSegment(SegmentBuilder segmentBuilder)
    {
        segmentBuilder.Raise();
    }

    public async Task ClickedClickMe()
    {
        Console.WriteLine("Hello");
        await _toastRef.ShowToast(new UiToast.ToastData
        {
            Message = "I am a serialized toast message",
            Title = "With a title!"
        });
    }

    private UiToast _toastRef;
}

