@inherits LayoutComponentBase
<div class="container">
    <header>
        Fomantic UI With Blazor
    </header>

    <main>
        @Body
    </main>
    <aside>
        <NavMenu/>
    </aside>
    <footer>
        Footer
    </footer>
</div>