@inherits LayoutComponentBase
<div class="ui vertically divided grid">
    <div class="three column row">
        <div class="column"></div>
        <div class="column">
            <h1>SeaFlat</h1>
        </div>
        <div class="column"></div>
    </div>
    <div class="three column row">
        <div class="column">
            <p></p>
        </div>
        <div class="column">
            @Body
        </div>
        <div class="column">
            <NavMenu/>
        </div>
    </div>
</div>