<div class="ui vertical menu">
    <NavLink ActiveClass="active" class="item" Match="NavLinkMatch.All" href="/">
        <i class="home teal icon"></i>
        Home
    </NavLink>
    <NavLink class="item" href="/blog">
        <i class="book open olive icon"></i>
        Blog
    </NavLink>
    <NavLink class="item" href="/about">
        <i class="question icon"></i>
        About
    </NavLink>

</div>

@code
{
}