@using Microsoft.AspNetCore.Components.Rendering
<button @onclick="Clicked" type="button" class="ui button @css">@Text</button>

@code {

    private string css = "";
    
    [Parameter]
    public string Text { get; set; }

    [Parameter]
    public Func<Task> Clicked { get; set; }

    [Parameter]
    public bool Primary
    {
        get => _primary;
        set
        {
            _primary = value;
            css = "primary".Spaciate();
            StateHasChanged();
        }
    }

    private bool _primary;
}