@inject IJSRuntime JS;

<div class="ui checkbox">
    <InputCheckbox @bind-Value="@Value" tabindex="0" class="hidden"></InputCheckbox>
    @if (!string.IsNullOrEmpty(Label))
    {
        <label>@Label</label>
    }
</div>

@code {

    [Parameter]
    public string Label { get; set; }
    
    private bool _value;

    [Parameter]
    public bool Value
    {
        get => _value;
        set
        {
            if (_value == value ) return;
            _value = value;
            ValueChanged.InvokeAsync(value);
        }
    }
    
    [Parameter]
    public EventCallback<bool> ValueChanged { get; set; } 

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JS.InvokeVoidAsync("checkBox");
        }
        await base.OnAfterRenderAsync(firstRender);
    }

}