<div class="ui @_css segment">
    @ChildContent
</div>

@code {
    [Parameter]
    public RenderFragment ChildContent { get; set; }
    
    [Parameter]
    public Func<SegmentBuilder, Task> Build { get; set; } = builder => Task.CompletedTask;
    
    private string _css = "";
    
    protected override async Task OnInitializedAsync()
    {
        var segmentBuilder = new SegmentBuilder();
        await Build(segmentBuilder);
        _css = segmentBuilder.GetOptions().GetCss();
        await base.OnInitializedAsync();
    }

    

}