<div class="field">
    <label>@Label</label>
    <InputText type="text" @bind-Value="@Value" name="@Name" placeholder="@Label" />
    
</div>


    

@code {

    private string _value;

    [Parameter]
    public string Value
    {
        get => _value;
        set
        {
            if (_value == value ) return;
            _value = value;
            ValueChanged.InvokeAsync(value);
        }
    }

    [Parameter]
    public EventCallback<string> ValueChanged { get; set; } 
    

    [Parameter]
    public string Label { get; set; }

    [Parameter]
    public string Name { get; set; }

}